<nav class="navbar navbar-light" style="background-color: #90E0EF;">
  <div class="container-fluid d-flex justify-content-center">
    <span class="navbar-brand mb-0 h1">Result Management System</span>
  </div>
</nav>
  
<div>
  <div class="container-fluid main">
    <div class="row">
      <div class="row alignrow">
        <h5>Login as</h5>
      </div>
      <div class="row">
        <div class="col alignColumn">
          <a href="student" class="btn btn-secondary btn-lg">Student</a>
        </div>

        <div class="col alignColumn">
          <a href="teacher" class="btn btn-secondary btn-lg">Teacher</a>
        </div>
      </div>
    </div>
  </div>
</div>
  
  
  